@import 'src/styles/vars';

.tasklist-list {

    .tasklist-task {
        background-color: $lightColor;
        border-radius: 0.2em;
        font-size: 1.2em;
        text-align: left;
        padding: 1em;
        margin: 0.2em 0;
        display: flex;
        
        p {
            padding-left: 10px;
        }
        
    }

    .tasklist-task--done {
        opacity: 0.5;
        text-decoration: line-through;
    }
}